main {
  height: calc(100vh - 46px);
  padding-top: 6rem;
  overflow-x: scroll;
  @include desktop {
    padding-top: 10rem;
  }
  .photoLocation {
    display: flex;
    position: relative;
    height: 8rem;
    width: 30%;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 55%;
    padding-top: 2rem;
    @include desktop {
      position: relative;
      margin-right: 56rem;
      height: 12rem;
    }

    .camera {
      position: absolute;
      height: 1.5rem;
      top: 0.5rem;
      width: 1.7rem;
      right: -0.5rem;
      @include tablet {
        margin-right: 2.5rem;
        @include desktop {
          margin-right: 28.5rem;
        }
      }
    }
  }
  .photoProfil {
    z-index: -1;
    display: flex;
    position: absolute;
    top: 0;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: $app-supporting-color;
    @include tablet {
      margin-left: 4rem;
    }

    .photoProfilIdentification {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  .BlocPostalBirthday {
    display: flex;
    width: 250px;
    margin-left: 14%;
    text-align: center;
    .fifthBlocInput,
    .sixthBlocInput {
      width: 30%;
      display: flex;
      flex-direction: column;
      color: #003da5;
      width: 50%;
      font-size: 0.9rem;
      @include tablet {
        width: 92%;
        margin-left: -28px;
        margin-right: 3rem;
      }
    }
    .denominationfifth{
      margin-left: 0;
      @include desktop {
        margin-left: -33rem;
      }
    }
    .denominationBirthday {
      @include tablet {
        margin-left: 2rem;
      }
    }
    .inputModificationProfileBloc {
      border: 2px solid #c6c3c3;
      height: 5vh;
      border-radius: 5px;
      padding: 1%;
      margin-bottom: 0.9rem;
      text-align: initial;
      margin-left: 19%;
      @include tablet {
        width: 13rem;
        margin-left: 4.7rem;
        margin-right: -3rem;
        padding: 3%;
      }
    }
  }

  .Gender {
    color: $app-primary-fonts-color;
    margin-left: 4.7rem;
    font-size: 0.9rem;
    @include tablet {
      margin-left: 9.7rem;
      @include desktop {
        margin-left: 27rem;
      }
    }
  }

  .inputGenre {
    display: flex;
    width: 80%;
    margin-left: 20%;
    text-align: center;
    @include tablet {
      text-align: start;
      margin-left: 17.5%;
    }

    .inputRadioMale {
      border: 2px solid #c6c3c3;
      border-radius: 5px;
      padding-top: 0.4rem;
      width: 34%;
      margin-right: 8%;
      @include tablet {
        padding-top: 0.7rem;
        margin-left: 1.2rem;
        @include desktop {
          margin-left: 3.8rem;
          width: 37.5rem;
        }
      }

      .MaleGenre {
        margin-right: 0.2rem;
        @include tablet {
          margin-right: 0.4rem;
          margin-left: 1rem;
        }
      }
      .nameInputMale {
        font-size: 0.8rem;
      }
    }

    .inputRadioFemale {
      border: 2px solid #c6c3c3;
      border-radius: 5px;
      padding: 6px;
      width: 34%;
      height: 5vh;
      @include tablet {
        width: 34%;
        margin-left: -0.5rem;
        @include desktop {
          margin-left: -4.4rem;
          width: 37.5rem;
        }
      }

      .FemaleGenre {
        margin-right: 0.2rem;
        @include tablet {
          margin: 0.4rem 0.4rem 0.6rem;
        }
      }
      .nameInputFemale {
        font-size: 0.8rem;
      }
    }
  }

  .validateProfile {
    margin: 2rem 0 2rem 7rem;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: $app-corporate-color;
    border-radius: 10px;
    background-color: $app-corporate-color-2;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    @include tablet {
      margin: 2rem 0 2rem 19rem;
      @include desktop {
        margin: 6rem 0 2rem 61.5rem;
      }
    }
  }
  .pictureProfile {
    @include desktop {
      height: 10rem;
      width: 26rem;
      position: absolute;
      transform: translateX(50%);
      margin-top: -3rem;
      margin-left: 24rem;
    }
  }
}


.containerBlocInputModificationProfile {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
    width: 70%;
    margin: 0 auto;

    grid-template-areas:
      "lastname mail"
      "firstname town"
      "zipcodeBirthday zipcodeBirthday";
    .firstBlocInput {
      grid-area: lastname;
    }

    .secondBlocInput {
      grid-area: firstname;
    }

    .thirdBlocInput {
      grid-area: mail;
    }

    .fourthBlocInput {
      grid-area: town;
    }

    .BlocPostalBirthday {
      grid-area: zipcodeBirthday;
    }

    .BlocPostalBirthday {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin: 0;
      padding: 0;

      .fifthBlocInput,
      .sixthBlocInput {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 1rem 2rem;

        .denomination,
        .denominationBirthday {
          text-align: start;
          width: 100%;
          margin: 0;
        }

        .inputModificationProfileBloc {
          width: 100%;
          margin: 0;
        }
      }
    }

    .firstBlocInput,
    .secondBlocInput,
    .thirdBlocInput,
    .fourthBlocInput {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      .denomination {
        width: 100%;
        margin: 0;
      }
      .inputModificationProfile {
        width: 100%;
        margin: 0;
      }
    }
  }

  .firstBlocInput,
  .secondBlocInput,
  .thirdBlocInput,
  .fourthBlocInput {
    display: flex;
    flex-direction: column;
    font-family: $app-primary-font;
  }

  .denomination {
    color: $app-corporate-color;
    font-size: 0.9rem;
    margin-left: 20%;
  }
  .inputModificationProfile {
    width: 60%;
    border: 2px solid #c6c3c3;
    height: 5vh;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 0.9rem;
    margin-left: 20%;
    @include desktop {
      width: 30%;
    }
  }
}
