.container-modification-profile {
  min-height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-top {
    padding-top: 3.5rem;

    @include tablet {
      padding-top: 4rem;
    }

    @include desktop {
      width: 100%;
      margin: 4% 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      .pictureProfile {
        height: 10rem;
        width: 30rem;
      }
    }

    label {
      width: 100%;
      position: relative;
      top: 2rem;
      left: 5rem;

      @include tablet {
        left: 7rem;
      }

      @include desktop {
        width: 0;
        top: 1rem;
        left: 8rem;
      }

      img {
        z-index: 1;
        height: 1.8rem;
        width: 1.8rem;

        @include tablet {
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }

    .photoProfil {
      z-index: -2;
      display: flex;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      background-color: $app-supporting-color;

      @include tablet {
        height: 10rem;
        width: 10rem;
      }

      @include desktop {
        margin-right: 10rem;
      }

      .photoProfilIdentification {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .container-form {
    margin-top: 1rem;
    width: 90%;

    @include desktop {
      width: 80%;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
    }

    .container-form-infos {
      display: flex;
      flex-direction: column;
      padding: 0 4%;

      @include desktop {
        width: 50%;
        margin: 0;
      }

      label {
        color: $app-primary-fonts-color;
        margin-bottom: 2%;

        @include tablet {
          font-size: 1.5rem;
        }
        @include desktop {
          font-size: 1.2rem;
        }
      }

      input {
        border: 2px solid #c6c3c3;
        height: 4.5vh;
        border-radius: 5px;
        padding: 1%;
        text-align: initial;
        margin-bottom: 2%;
        @include tablet {
          font-size: 1.5rem;
        }

        @include desktop {
          font-size: 1.2rem;
        }
      }
    }
  }

  .Gender {
    width: 90%;
    color: $app-primary-fonts-color;
    margin-bottom: 2%;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.2rem;
    }
  }

  .container-form-flex {
    display: flex;
    padding: 0 4%;

    @include desktop {
      width: 50%;
      display: flex;
      flex-direction: row;
    }

    .container-form-flex-infos {
      display: flex;
      flex-direction: column;
      width: 50%;

      label {
        color: $app-primary-fonts-color;
        margin-bottom: 2%;

        @include tablet {
          font-size: 1.5rem;
        }

        @include desktop {
          font-size: 1.2rem;
        }
      }

      .first-input {
        margin-right: 4%;

        @include tablet {
          font-size: 1.5rem;
        }

        @include desktop {
          font-size: 1.2rem;
        }
      }

      .second-input {
        margin-left: 4%;

        @include tablet {
          font-size: 1.5rem;
        }

        @include desktop {
          font-size: 1.2rem;
        }
      }

      .second-label {
        margin-left: 4%;
      }

      input {
        border: 2px solid #c6c3c3;
        height: 4.5vh;
        border-radius: 5px;
        padding: 4%;
        text-align: initial;
        margin-bottom: 2%;
      }
    }

    .container-form-flex-radio {
      width: 100%;

      .container-form-flex-radios {
        display: flex;
        flex-direction: row;
        .container-form-flex-radio-first {
          display: flex;
          align-items: center;
          width: 50%;
          border: 2px solid #c6c3c3;
          height: 4.5vh;
          border-radius: 5px;
          padding: 2%;
          text-align: initial;
          margin: 1% 4% 2% 0;

          label {
            padding: 0 0 0 8%;

            @include tablet {
              font-size: 1.5rem;
            }

            @include desktop {
              font-size: 1.2rem;
            }
          }
        }

        .container-form-flex-radio-second {
          display: flex;
          align-items: center;
          width: 50%;
          border: 2px solid #c6c3c3;
          height: 4.5vh;
          border-radius: 5px;
          padding: 2%;
          text-align: initial;
          margin-bottom: 2%;
          margin: 1% 0 2% 0;

          label {
            padding: 0 0 0 8%;

            @include tablet {
              font-size: 1.5rem;
            }

            @include desktop {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    margin: 1rem 0;
    width: 100%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    border-radius: 10px;
    color: $app-corporate-color;
    background-color: $app-corporate-color-2;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.2rem;
      height: 6vh;
      margin: 3rem 0;
    }
  }
}
