.formation {
  display: flex;
  width: 90vw;
  min-height: 100vh;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;

  @include desktop {
    margin: 20px auto 20px auto;
    width: initial;
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 3vw;
  }

  @include minHeight850px {
    column-gap: 10vw;
    height: 777px;
  }
}

.pictureManComputer {
  grid-column: 3/7;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  width: 25vw;
}
