.container-createNameTutorial {
  width: 100vw;
  height: calc(100vh - 126px);
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #nameTutorial {
    width: 80%;
    height: 2.4rem;
    border-radius: 0.3rem;
    border: 2px solid $app-input-primary-color;
    margin: 4%;
    padding-left: 4%;
    font-size: 1.2rem;
    color: $app-secondary-fonts-color;

    @include tablet {
      height: 3rem;
      font-size: 1.4rem;
    }
  }

  label,
  ul {
    width: 80%;
    color: $app-secondary-fonts-color-60;
    @include tablet {
      font-size: 1.4rem;
    }
  }

  button {
    color: $app-secondary-fonts-color-60;
  }

  p {
    width: 80%;
    color: $app-secondary-fonts-color-60;
    
    @include tablet {
      font-size: 1.4rem;
    }
  }

  .container-input-tag {
    width: 80%;
    height: 2.4rem;
    border-radius: 0.3rem;
    border: 2px solid $app-input-primary-color;
    margin: 4%;
    padding: 0 4%;

    @include tablet {
      padding: 0 2%;
      height: 3rem;
      display: flex;
      align-items: center;
    }

    input,
    button {
      border: none;
      background-color: transparent;
      height: 2.4rem;
      font-size: 1.3rem;
      color: $app-secondary-fonts-color;
    }

    input {
      width: 70%;
      @include tablet {
        width: 80%;
      }
    }

    button {
      width: 30%;
      @include tablet {
        width: 20%;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 4%;
    width: 80%;

    button {
      margin: 2%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      @include tablet {
        font-size: 1.3rem;
      }
    }
  }

  .choose-lvl-tutorial {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;

    p {
      font-size: 1.2rem;
      color: $app-secondary-fonts-color;
      @include tablet {
        font-size: 1.4rem;
      }
    }

    .choose-lvl-tutorial-button {
      display: flex;
      justify-content: space-between;
      width: 12%;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        img {
          width: 1rem;
          height: 1rem;

          @include tablet {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }
  }

  select {
    width: 80%;
    height: 2.4rem;
    border-radius: 0.3rem;
    border: 2px solid $app-input-primary-color;
    margin: 4%;
    padding-left: 4%;
    font-size: 1.2rem;
    color: $app-secondary-fonts-color;

    @include tablet {
      height: 3rem;
      font-size: 1.4rem;
    }
  }

  .container-preview-tutorial {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 80%;
    margin: 4%;
    background-color: $app-secondary-fonts-color-2;
    border-radius: 0.3rem;

    .icon-preview-tutorial {
      display: flex;
      flex-direction: column;
      padding: 1%;
      height: 100%;
      align-items: center;

      .icon-preview-tutorial-star {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 10% 1% 0 1%;

        img {
          width: 0.8rem;
          height: 0.8rem;
        }
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    h3 {
      padding-left: 5%;
      color: $app-secondary-fonts-color-3;
      font-size: 1.2rem;

      @include tablet {
        font-size: 1.4rem;
      }
    }
  }
}
