.container-createNameTutorial {
  background-color: $app-secondary-fonts-color-2;

  .container-createNameTutorial-preview {
    background-color: $app-secondary-fonts-color-50;
    width: 100vw;
    min-height: calc(100vh - 125px);
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      height: 60vh;
    }

    @include desktop {
      width: 40%;
      height: 80vh;
      margin: auto;
      padding-top: 1%;
    }

    #nameTutorial {
      width: 80%;
      height: 2.4rem;
      border-radius: 0.3rem;
      border: 2px solid $app-input-primary-color;
      margin: 4%;
      padding-left: 4%;
      font-size: 1.2rem;
      color: $app-secondary-fonts-color;

      @include tablet {
        height: 3rem;
        font-size: 1.4rem;
      }

      @include desktop {
        width: 100%;
      }
    }

    label,
    ul {
      width: 80%;
      color: $app-secondary-fonts-color-60;
      @include tablet {
        font-size: 1.4rem;
      }

      @include desktop {
        width: 100%;
      }
    }

    button {
      color: $app-secondary-fonts-color-60;
    }

    p {
      width: 80%;
      color: $app-secondary-fonts-color-60;

      @include tablet {
        font-size: 1.4rem;
      }

      @include desktop {
        width: 100%;
      }
    }

    .container-input-tag {
      width: 80%;
      height: 2.4rem;
      border-radius: 0.3rem;
      border: 2px solid $app-input-primary-color;
      margin: 4%;
      padding: 0 4%;

      @include tablet {
        padding: 0 2%;
        height: 3rem;
        display: flex;
        align-items: center;
      }

      @include desktop {
        width: 100%;
      }

      input,
      button {
        border: none;
        background-color: transparent;
        height: 2.4rem;
        font-size: 1.3rem;
        color: $app-secondary-fonts-color;
      }

      input {
        width: 70%;
        @include tablet {
          width: 80%;
        }

        @include desktop {
          width: 100%;
        }
      }

      button {
        width: 30%;
        @include tablet {
          width: 20%;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 4%;
      width: 80%;

      @include tablet {
        margin: 2%;
      }

      @include desktop {
        width: 100%;
      }

      button {
        margin: 2%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include tablet {
          font-size: 1.3rem;
        }
      }
    }

    .choose-lvl-tutorial {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4%;

      @include desktop {
        width: 100%;
      }

      p {
        font-size: 1.2rem;
        color: $app-secondary-fonts-color;
        @include tablet {
          font-size: 1.4rem;
          padding: 0 0 4% 0;
        }

        @include desktop {
          width: 100%;
        }
      }

      .choose-lvl-tutorial-button {
        display: flex;
        justify-content: space-between;
        width: 12%;

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;

          img {
            width: 1rem;
            height: 1rem;

            @include tablet {
              width: 1.3rem;
              height: 1.3rem;
            }
          }
        }
      }
    }

    select {
      width: 80%;
      height: 2.4rem;
      border-radius: 0.3rem;
      border: 2px solid $app-input-primary-color;
      margin: 4%;
      padding-left: 4%;
      font-size: 1.2rem;
      color: $app-secondary-fonts-color;

      @include tablet {
        height: 3rem;
        font-size: 1.4rem;
      }

      @include desktop {
        width: 100%;
      }
    }

    .container-preview-tutorial {
      display: flex;
      align-items: center;
      height: 4rem;
      width: 80%;
      margin: 4%;
      background-color: $app-secondary-fonts-color-2;
      border-radius: 0.3rem;

      @include tablet {
        height: 5rem;
      }

      @include desktop {
        width: 100%;
      }

      .icon-preview-tutorial {
        display: flex;
        flex-direction: column;
        padding: 1%;
        height: 100%;
        align-items: center;

        .icon-preview-tutorial-star {
          display: flex;
          width: 100%;
          justify-content: space-around;
          padding: 10% 1% 0 1%;

          img {
            width: 0.8rem;
            height: 0.8rem;
          }

          @include tablet {
            width: 1.2rem;
            height: 1.2rem;
          }
        }

        img {
          width: 2.5rem;
          height: 2.5rem;

          @include tablet {
            width: 2.8rem;
            height: 2.8rem;
          }
        }
      }

      h3 {
        padding-left: 5%;
        color: $app-secondary-fonts-color-3;
        font-size: 1.2rem;

        @include tablet {
          font-size: 1.4rem;
        }
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;

      button {
        border: none;
        background-color: $app-button-primary-color;
        color: $app-secondary-fonts-color-5;
        height: 2rem;
        border-radius: 0.3rem;
        width: 30%;
      }

      button:disabled {
        opacity: 0.5;
      }
    }
  }
}
