.container-createObjectifTutorial {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 126px);
  width: 100vw;

  .container-objectif {
    padding: 4% 0;
    display: flex;

    .container-objectif-title {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        padding-right: 10%;
        height: 100px;
        width: 140px;
      }

      .container-title-tuto {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background-color: $app-corporate-color;
        height: 2.5rem;
        width: 100%;
        padding-right: 10%;

        h3 {
          color: $app-secondary-fonts-color-5;
        }
      }
    }

    .container-objectifText {
      width: 45%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 9rem;
      border-radius: 5%;
      background-color: $app-secondary-fonts-color-2;

      label {
        padding: 4%;
      }

      textarea {
        width: 90%;
        min-height: 7rem;
        border: none;
        background-color: transparent;
        white-space: normal;
        color: $app-secondary-fonts-color;
        resize: none;
      }
    }
  }

  .container-explications {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4%;

    .line {
      margin-bottom: 4%;
      width: 100%;
      border-top: 2px solid $app-line-color;
    }

    input {
      width: 80%;
      height: 2.4rem;
      border-radius: 0.3rem;
      border: 2px solid $app-input-primary-color;
      margin: 4%;
      padding-left: 4%;
      font-size: 1.2rem;
      color: $app-secondary-fonts-color;
    }

    .container-explications-upload {
      display: flex;
      align-items: center;
      width: 80%;
      margin: 4%;

      p {
        width: 70%;
      }

      label {
        background-color: $app-button-primary-color;
        color: $app-secondary-fonts-color-5;
        height: 2rem;
        border-radius: 0.3rem;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
      }
    }

    .container-explications-preview {
      background-color: $app-secondary-fonts-color-2;
      width: 100%;
      min-height: 8rem;
      margin: 4%;
      border-radius: 0.3rem;
      resize: vertical;

      .container-explications-preview-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 2%;

        .space {
          height: 20px;
          width: 20px;
        }

        h3 {
          color: $app-primary-fonts-color;
        }

        img {
          height: 20px;
          width: 20px;
        }
      }

      .container-explications-preview-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          height: 100px;
          width: 100px;
        }

        label {
          padding-top: 4%;
          width: 90%;
        }

        textarea {
          margin: 4%;
          width: 90%;
          min-height: 5rem;
          height: "auto";
          border: none;
          background-color: transparent;
          white-space: normal;
          resize: none;
          overflow: hidden;
        }
      }
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;

    button {
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 2rem;
      border-radius: 0.3rem;
      width: 30%;
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}
