.mainProfile {
  min-height: calc(100vh - 50px);
  padding-top: 20%;

  @include tablet {
    padding-top: 15%;
    padding-bottom: 0;
    min-height: 0;
  }

  .titleProfile {
    padding-top: 1rem;
    text-align: center;
    color: $app-button-primary-color;
    font-size: 1.3rem;

    @include tablet {
      margin: 2% 0 4% 0;
      padding-top: 0;
    }
  }

  .photoProfile {
    display: flex;
    background-color: $app-supporting-color;
    height: 7rem;
    width: 31%;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 34%;

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;

      @include tablet {
        height: 180px;
        width: 180px;
        border-radius: 50%;
      }
    }

    @include tablet {
      margin: auto;
      height: 180px;
      width: 180px;
      border-radius: 50%;
    }

    @include desktop {
      width: 48%;
      margin: 1%;
      height: 3.8rem;
    }
  }

  .nameProfile {
    display: flex;
    margin: 2rem auto 0 auto;
    color: $app-primary-fonts-color;
    font-family: $app-primary-font;
    padding-left: 20%;

    @include tablet {
      padding-left: 30%;
      margin-top: 10%;
      font-size: 1.4rem;
    }

    .imgProfile,
    .imgMailProfile {
      height: 1.5rem;
    }

    div {
      padding-left: 4%;
    }
  }

  .buttons_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4%;

    @include tablet {
      margin-top: 5%;
    }

    a {
      width: 60%;

      @include tablet {
        width: 40%;
        margin-top: 5%;
      }

      .button_edit_my_profile {
        width: 100%;
        border: 0;
        line-height: 2.5;
        margin-top: 4%;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: $app-corporate-color;
        border-radius: 10px;
        background-color: $app-corporate-color-2;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
          inset -2px -2px 3px rgba(0, 0, 0, 0.6);
        @include tablet {
          margin-top: 2%;
          font-size: 1.2rem;
        }
      }
    }

    .button_edit_my_profile {
      width: 60%;
      border: 0;
      margin-top: 4%;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: $app-corporate-color;
      border-radius: 10px;
      background-color: $app-corporate-color-2;
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);

      @include tablet {
        width: 40%;
        margin-top: 5%;
        font-size: 1.2rem;
      }
    }

    a {
      margin: 4% 0 0 0;
      .button_see_my_journey {
        width: 100%;
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: $app-secondary-fonts-color-50;
        border-radius: 10px;
        background-color: $app-corporate-color;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
          inset -2px -2px 3px rgba(0, 0, 0, 0.6);

        @include tablet {
          margin-top: 6%;
          font-size: 1.2rem;
        }
      }
    }
  }
}
