@import "../../assets/styles/variables.scss";

.container-menuTitle {
  width: 100vw;
  height: 75px;
  padding-left: 4%;
  background-color: $app-menuTop-color;
  display: flex;
  align-items: center;
  color: $app-secondary-fonts-color-5;

  @include desktop {
    padding-left: 2%;
  }

  button {
    background-color: transparent;
    border: none;

    img {
      width: 1.5rem;
      height: 1.5rem;

      @include tablet {
        width: 1.6rem;
        height: 1.6rem;
      }

      @include desktop {
        width: 1.8rem;
        width: 1.8rem;
      }
    }
  }

  a {
    background-color: transparent;
    border: none;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  h3 {
    margin: 0 0 0 10%;

    @include tablet {
      font-size: 1.4rem;
      margin: 0 0 0 5%;
    }

    @include desktop {
      font-size: 1.6rem;
      margin: 0 0 0 2%;
    }
  }
}