.container-ObjectifTutorial {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  width: 100vw;
  .ciblePlateform {
    @include desktop {
      height: 13rem;
      margin-left: 90%;
      margin-top: -14rem;
      position: absolute;
    }
  }

  .container-Objectif {
    padding: 4% 0;
    display: flex;
    @include desktop {
      padding: 2% 0;
    }
  }
  .container-Objectif-Title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    @include tablet {
      width: 15rem;
      @include desktop {
        width: 30rem;
      }
    }
  }

  .container-button {
    text-align: center;
    margin-right: 1rem;
    a {
      width: 100%;
      text-align: center;
      margin: 10px;
      .suivant {
        background-color: $app-button-primary-color;
        color: $app-secondary-fonts-color-5;
        border-radius: 0.3rem;
        width: 100%;
        margin-right: 1rem;
        @include desktop {
          margin-top: 2rem;
        }
      }
    }

    .precedent {
      background-color: $app-button-secondary-color;
      color: $app-primary-fonts-color;
      border-radius: 0.3rem;
      margin-top: 2rem;
      font-weight: bold;
    }
    button:disabled {
      opacity: 0.5;
    }
  }

  .pouce {
    padding-right: 10%;
    height: 100px;
    width: 130px;
    @include tablet {
      height: 12rem;
      width: 15rem;
      @include desktop {
        height: 10rem;
        width: 15rem;
      }
    }
  }
}
.container-Title-Tuto {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: $app-corporate-color;
  height: 2.5rem;
  width: 100%;
  padding-right: 10%;
  @include desktop {
    position: relative;
    height: 4rem;
  }

  .objectif {
    color: $app-secondary-fonts-color-5;
    @include desktop {
      font-size: 2rem;
    }
  }
}
.container-ObjectifText {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  border-radius: 5%;

  p {
    color: $app-primary-fonts-color;
    text-align: center;
    font-size: $app-text-size;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 2rem;
      @include desktop {
        width: initial;
        margin-right: 0;
        font-size: 2.5rem;
      }
    }
  }
}

.container-Explications {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4%;
  @include desktop {
    padding: 2%;
  }

  .SpaceQuizz {
    width: 100%;

    @include desktop {
      display: contents;
    }
  }

  .line-yellow {
    margin-bottom: 4%;
    width: 100%;
    border-top: 2px solid $app-line-color;
    margin-top: -30px;
  }
  .containerButtonVideo {
    display: flex;
    align-items: flex-end;

    .precedent {
      border: 0;
      line-height: 2;
      text-align: center;
      border-radius: 5px;
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      font-weight: bold;
    }
  }

  .container-Quizz-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .TitleQuizz {
      margin-top: 1rem;
      text-align: center;
      margin-bottom: 1rem;
      @include desktop {
        font-size: 2rem;
        // margin-top: 2rem;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  input[type="radio"] {
    width: 20px;
    height: 15px;
    margin: 0px 17px 0 25px;
    @include tablet {
      margin: 0px 17px 0 95px;
      @include desktop {
        margin: 0px 17px 0 290px;
      }
    }
  }

  .container-Explications-preview,
  .container-Quizz-preview {
    width: 100%;
    min-height: 12rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    flex-wrap: nowrap;
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    align-items: center;
    @include desktop {
      width: 50rem;
      height: 27rem;
      margin: auto;
    }

    img {
      width: 6rem;
      height: 6rem;
      margin-top: 1rem;
      @include tablet {
        width: 9rem;
        height: 9rem;
        margin-top: 1rem;
        @include desktop {
          width: 15rem;
          height: 15rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .quizzChooseAnswer {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    @include tablet {
      height: 85px;
      @include desktop {
        // margin-left: 40rem;
        // text-align: left;
        width: 140%;
      }
    }

    .quizzLabelAnswer {
      margin: 0 auto;
      width: 83%;
      padding-top: 1rem;
      @include tablet {
        margin-top: -1rem;
      }
    }
  }

  .container-Explications-preview-title,
  .container-video-preview-title,
  .container-quizz-preview-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;

    .Space {
      height: 20px;
      width: 20px;
    }

    p {
      color: $app-primary-fonts-color;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }

  p:last-child {
    padding: 4%;
    word-wrap: break-word;
    text-align: center;
    margin-top: 1rem;
    color: $app-primary-fonts-color;
  }
}
@include tablet {
  .line-yellow {
    margin-top: -83px;
  }
  .container-Explications-preview {
    margin: 0;
    min-height: 13rem;
    width: 60%;
  }
}
.suivant,
.precedent {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.container-video-preview-logo {
  margin: 7rem 0 0 17.5rem;

  img {
    height: 2rem;
  }
}

.validateTutorial {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: $app-secondary-fonts-color-50;
  border-radius: 5px;
  background-color: $app-corporate-color;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.pTutoVideo,
.pTutoExplication,
.pTutoQuizz {
  font-size: 1.3rem;
  text-align: center;
  color: $app-primary-fonts-color;
  font-family: $app-secondary-font;
  @include desktop {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.pTutoQuizz {
  font-weight: initial;
}
.explicationPicture {
  height: 4rem;
  margin-top: 1rem;
}

.container-Video-preview {
  overflow: hidden;
  margin: 1rem 0;
}

.wrongAnswerTitle {
  color: red;
  font-size: 1rem;
}

.textObjectifPlateform {
  @include tablet {
    font-size: 2rem;
  }
}

a {
  color: yellow;
}
