.container-saveButton {
  width: 100%;
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 2rem;
      border-radius: 0.3rem;
      width: 30%;

      @include tablet {
        width: 30%;
        margin-top: 4%;
        font-size: 1.4rem;
        height: 2.4rem;
      }

      @include desktop {
        margin: 0;
      }
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}
