.tutorialSection {
  transition: height 0.3s ease-in-out;
  background-color: #f5f5f5;
  width: 90vw;
  max-width: 440px;
  min-height: 50px;
  display: grid;
  grid-template-columns: 5px 30px 1fr 30px 5px;
  grid-template-rows: 32px 15px 10px 10px;
  margin: 10px auto 0 auto;
  border-radius: 10px;
  height: 4rem;
  position: relative;

  .tutorialStarsAndCap {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
  }

  @include minHeight850px {
    max-width: 700px;
    min-height: 50px;
    height: 5rem;
  }

  .tutorialCap {
    padding-top: 0.5rem;
    margin-left: 0.8rem;

    .tutorialStarsAndCap {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      justify-content: space-around;
      align-content: space-evenly;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .tutorialTitle {
    text-align: center;
    position: absolute;
    // font-size: $app-font-size-xs;
    font-size: $app-font-size-xs-to-xxl;
    left: 20%;
    top: 15px;

    @include phonelarge {
      font-size: $app-font-size-xs-to-xxl-more-longs;
    }

    @include desktop {
      font-size: $app-font-size-xs-to-xxl-last-long;
    }

    @include minHeight850px {
      // font-size: 21px;
    }
  }

  .arrowButton {
    position: absolute;
    right: 6px;
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: none;

    .tutorialArrowDown {
      transition: transform 0.3s ease-in-out;
      width: 3vw;

      @include tablet {
        width: 20px;
      }
    }
  }

  .tutorialListDisplayNone {
    display: flex;
    flex-direction: column;
    list-style: none;
    display: none;
  }
}

.tutorialSectionShowList {
  transition: height 0.3s ease-in-out;
  background-color: #f5f5f5;
  width: 90vw;
  height: 130px;
  max-width: 440px;
  display: grid;
  grid-template-columns: 5px 30px 1fr 30px 5px;
  grid-template-rows: 15px 15px 10px 10px repeat(4, 20px);
  margin: 10px auto 0 auto;
  border-radius: 10px;
  position: relative;

  @include minHeight850px {
    max-width: 700px;
    height: 9rem;
  }

  .tutorialStarsAndCap {
    position: absolute;
    top: 8px;
    left: 13px;
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
  }

  .tutorialTitle {
    position: absolute;
    text-align: center;
    font-size: $app-font-size-xs-to-xxl;
    left: 20%;
    top: 15px;
    @include phonelarge {
      font-size: $app-font-size-xs-to-xxl-more-longs;
    }

    @include desktop {
      font-size: $app-font-size-xs-to-xxl-last-long;
    }

    @include minHeight850px {
      // font-size: 21px;
    }
  }

  .tutorialListDisplay {
    position: absolute;
    top: 0;
    left: $app-left-ul-list;
    font-size: $app-font-size-xs-ul;
    display: flex;
    flex-direction: column;
    list-style: none;
    grid-column: 3;
    width: 75px;
    grid-row: 5/6;
    padding-left: 2.3rem;
    gap: 0.3rem;

    @include phonelarge {
      font-size: 15px;
    }

    @include minHeight850px {
      font-size: 20px;
    }

    .checkStepTutorial {
      height: 1rem;
      padding-left: 1rem;
    }

    .StepTutorial {
      display: flex;
      align-items: center;
    }
  }

  .arrowButton {
    position: absolute;
    right: 6px;
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: none;

    .tutorialArrowUp {
      transition: transform 0.3s ease-in-out;
      width: 3vw;
      transform: rotate(180deg);

      @include tablet {
        width: 20px;
      }
    }
  }
}

.tutorialStars {
  @include tablet {
    width: 20px;
  }
}

.tutorialCap {
  width: $app-font-size-cap;
}
