.moduleChooseFormation {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: $app-card-height;
  background-color: $app-secondary-fonts-color-2;
  border-radius: 10px;
  font-size: 0.7rem;
  color: $app-secondary-fonts-color-60;
  padding-top: 0.5rem;

  @include tablet {
    max-width: 300px;
    max-height: 150px;
  }
  @include desktop {
    width: initial;
    width: $app-card-width-2;
    height: $app-card-height-2;
  }

  .cardFormationChoose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    width: $app-card-width;
    height: $app-card-height;
  }
  @include desktop {
    &:nth-child(1) {
      grid-column: 3/4;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 4/5;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column: 5/6;
      grid-row: 1;
    }
    &:nth-child(4) {
      grid-column: 6/7;
      grid-row: 1;
    }
    &:nth-child(5) {
      grid-column: 6/7;
      grid-row: 2;
      justify-self: start;
    }
    &:nth-child(6) {
      grid-column: 6/7;
      grid-row: 3;
      justify-self: start;
    }
    &:nth-child(7) {
      grid-column: 6/7;
      grid-row: 4;
    }
    &:nth-child(8) {
      grid-column: 5/6;
      grid-row: 4;
    }
    &:nth-child(9) {
      grid-column: 4/5;
      grid-row: 4;
    }
    &:nth-child(10) {
      grid-column: 3/4;
      grid-row: 4;
    }
    &:nth-child(11) {
      grid-column: 3/4;
      grid-row: 3;
    }
    &:nth-child(12) {
      grid-column: 3/4;
      grid-row: 2;
    }
  }
}

.iconFormationChoose {
  width: $app-width-icon;
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: center;
}

.textFormationChoose {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  font-size: $app-font-size-h3;
  margin: 0 -17%;

  @include desktop {
    font-size: 20px;
    margin: 0 -50%;
  }
}
