@import "../../assets/styles/variables.scss";

.container-createVideoTutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 126px);
  width: 100vw;
  padding: 4%;

  input {
    width: 80%;
    height: 2.4rem;
    border-radius: 0.3rem;
    border: 2px solid $app-input-primary-color;
    margin: 4%;
    padding-left: 4%;
    font-size: 1.2rem;
    color: $app-secondary-fonts-color;
  }

  .container-createVideoTutorial-preview {
    width: 100%;
    height: 20rem;
    border-radius: 0.3rem;
    background-color: #0038a9;
    opacity: 67%;

    iframe {
      height: 20rem;
      width: 100%;
    }

    .container-video-preview-title {
      display: flex;
      width: 100%;
      height: 15%;
      justify-content: space-between;
      padding: 2%;

      .space {
        height: 20px;
        width: 20px;
      }

      p {
        color: $app-secondary-fonts-color-5;
      }

      img {
        height: 20px;
        width: 20px;
      }
    }

    .container-video-preview-logo {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 85%;
      width: 100%;
      padding: 2%;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;

    button {
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 2rem;
      border-radius: 0.3rem;
      width: 30%;
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}
