.sortMyReward {
  margin: 10px $margin-space-icon 0 $margin-space-icon;
  width: 100px;

  @include phonelarge {
    margin: 10px $margin-space-icon-large 0 $margin-space-icon-large;
  }

  @include tablet {
    margin: 10px $margin-space-icon-tablet 0 $margin-space-icon-tablet;
  }
  
  @include desktop {
    margin: 20px 36px;
  }

  .titleSortMyReward {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-left: -2rem;
    width: 169px;
    height: 30px;

    @include tablet {
      font-size: 15px;
    }
  }
}

.CircularProgressbar-path {
  stroke: $app-corporate-color;
}
.CircularProgressbar-trail {
  stroke: $app-secondary-fonts-color-2;
}

.iconFormationReward {
  position: absolute;
  width: $app-width-icon-formation-mobil;
  max-width: 70px;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 55%;
}
