.sortMyReward {
  margin: 10px;
  width: 100px;
  
  .titleSortMyReward {
    text-align: center;
    margin-bottom: 10px;
  }
}

.CircularProgressbar-path {
  stroke: rgb(255, 0, 0);
}
.CircularProgressbar-trail {
  stroke: gray;
}

.iconFormationReward {
  position: absolute;
  width: 70px;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 55%;
}
