.sortMyReward {
  margin: 10px;
  width: 100px;

  .titleSortMyReward {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-left: -2rem;
    width: 169px;
    height: 30px;
    @include tablet {
      font-size: $app-heading-four-tablet;
      height: 60px;
    }
  }
}

.CircularProgressbar-path {
  stroke: $app-corporate-color;
}
.CircularProgressbar-trail {
  stroke: $app-secondary-fonts-color-2;
}

.iconFormationReward {
  position: absolute;
  width: $app-width-icon-formation-mobil;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 55%;
  @include tablet {
    width: $app-width-icon-formation-tablet;
  }
}

// $app-heading-two-tablet: 2rem;
// $app-heading-three-tablet: 1.5rem;
