@import "../../assets/mixins/mixins.scss";

.mainHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 50.4px);

  .header {
    position: relative;
    display: flex;
    margin-top: 6rem;
    width: 100%;
    @include desktop {
      margin-top: 4rem;
    }

    .objectif {
      font-size: $app-text-size;
      color: $app-corporate-color;
      font-family: $app-primary-font;
      margin-left: 3.5rem;
      text-align: center;
      margin: 2rem;

      @include tablet {
        padding-left: 0rem;
        font-size: 2rem;
        width: 100%;
        margin-top: 2rem;
      }

      @include desktop {
        font-size: 2.3rem;
        margin-top: 5rem;
        margin-left: -10rem;
      }
    }

    .bloc_women {
      display: flex;
      width: 100%;
    }

    .decorative_rectangle {
      width: 8rem;
      height: 7rem;
      margin-top: 0.5rem;
      @include tablet {
        width: 22rem;
        margin: 4rem 0 0 -1rem;
        height: 6rem;
      }
      @include desktop {
        width: 465px;
        height: 107px;
        margin-top: 5rem;
        margin-left: -3rem;
      }
    }

    .desk_women {
      position: absolute;
      height: 60%;
      width: 125px;
      z-index: 1;

      @include tablet {
        width: 250px;
        height: 130px;
        margin-top: 1rem;
      }

      @include desktop {
        width: 282px;
        height: 131px;
        margin-top: 2rem;
      }
    }
  }

  .instructions {
    text-align: center;
    font-size: $app-text-size;
    width: 20rem;
    margin-left: 1.5rem;
    margin-top: 3rem;
    font-family: $app-secondary-font;

    @include tablet {
      font-size: 1.4rem;
      width: 36rem;
      margin-top: 0rem;
    }

    @include desktop {
      font-size: 1.5rem;
      width: 45rem;
      margin-top: 2rem;
    }
  }

  .button_debuter_formation {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    @include tablet {
      margin-top: 0rem;
    }
    @include desktop {
    }
  }

  .button_Debuter_Formation {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: $app-corporate-color;
    border-radius: 10px;
    background-color: $app-corporate-color-2;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    font-weight: bold;

    @include tablet {
      padding: 0 20px;
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    @include desktop {
      margin-left: 0rem;
      margin-top: 2rem;
    }
  }

  .presenter {
    display: flex;
    margin-top: 3rem;

    @include tablet {
      margin-top: -3.5rem;
    }
    @include desktop {
      margin-top: 0;
      z-index: 0;
    }
  }

  .presenter_img {
    height: 80px;
    width: 135px;

    @include tablet {
      height: 147px;
      width: 134px;
      margin-top: 12%;
      margin-left: -3rem;
    }

    @include desktop {
      height: 118px;
      width: 107px;
      margin-top: 29px;
      margin-left: -12rem;
    }
  }

  .text_presenter {
    font-size: $app-text-size;
    font-family: $app-secondary-font;
    width: 100%;

    @include tablet {
      margin-top: 4.5rem;
      font-size: 1.3rem;
      width: 30rem;
    }

    @include desktop {
      font-size: 1.4rem;
      width: 100%;
      margin-top: 2.5rem;
    }
  }

  .bloc_presenter {
    display: flex;
    margin-top: 1%;
    @include tablet {
      margin-top: 4%;
    }
    @include desktop {
    }
  }

  .word_ici {
    color: $app-corporate-color-2;
    margin-left: 0.4rem;
  }
}
