.myRewardIcons {
  margin: 15px;

  @include tablet {
    width: 55px;
  }

  @include desktop {
    margin: 0;
  }
}

.myRewardIconsChange {
  margin: 15px;
  opacity: 0.2;

  @include tablet {
    width: 55px;
    margin: 20px 31px 0 31px;
  }

  @include desktop {
    margin: 0;
  }
}
