.modal-content-delete {
  padding: 2%;
  height: 6.5rem;
  width: 80%;
  border-radius: 0.3rem;
  background-color: $app-supporting-color;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    font-size: 1.2rem;
    height: 7rem;
  }

  .modal-actions-delete {
    padding: 4%;
    display: flex;
    justify-content: space-around;
    width: 100%;

    button {
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 1.8rem;
      border-radius: 0.3rem;
      width: 30%;

      @include tablet {
        font-size: 1.2rem;
        height: 2rem;
        width: 25%;
      }
    }

    button:last-child {
      background-color: red;
      color: $app-secondary-fonts-color-5;

      @include tablet {
        font-size: 1.2rem;
        height: 2rem;
        width: 25%;
      }
    }
  }
}
