.modal-content {
  margin: 4%;
  padding: 2%;
  height: 6.5rem;
  border-radius: 0.3rem;
  background-color: $app-secondary-fonts-color-2;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @include tablet {
    font-size: 1.2rem;
    height: 7rem;
  }

  .modal-actions {
    padding: 4%;
    display: flex;
    justify-content: space-around;
    width: 100%;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 1.8rem;
      border-radius: 0.3rem;
      width: 30%;
      padding: 1.5%;
      font-size: 1rem;

      @include tablet {
        font-size: 1.2rem;
        height: 2rem;
        width: 25%;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      height: 1.8rem;
      border-radius: 0.3rem;
      width: 30%;
      padding: 1.5%;
      font-size: 1rem;

      @include tablet {
        font-size: 1.2rem;
        height: 2rem;
        width: 25%;
      }
    }
  }
}
