@import "../src/assets/styles/variables.scss";
@import "../src/assets/mixins/mixins.scss";

/* -----------------------------import Pages -------------------------------- */

@import "../src/pages/formation/Formation.scss";
@import "../src/pages/tutorialChoice/TutorialChoice.scss";
@import "../src/pages/home/Home.scss";
@import "../src/pages/levelUser/LevelUser.scss";
@import "../src/pages/login/Login.scss";
@import "../src/pages/register/Register.scss";
@import "../src/pages/parcours/Parcours.scss";
@import "../src/pages/profile/Profile.scss";
@import "../src/pages/modificationProfile/ModificationProfile.scss";
@import "../src/pages/legalNotice/LegalNotice.scss";
@import "../src/pages/personalData/PersonalData.scss";
@import "../src/pages/admin/GestionUsers.scss";
@import "../src/pages/admin/UserInfo.scss";
@import "../src/pages/profile/ProfileDesk.scss";
@import "../src/pages/containerTutoPlateform/ContainerTutoPlateform.scss";
@import "../src/pages/sendEmailUser/SendEmailUser.scss";
@import "../src/pages/404/Error404.scss";

/* ----------------------------- import components -------------------------------- */
@import "../src/components/navbar/NavBar.scss";
@import "../src/components/cardFormation/CardFormation.scss";
@import "../src/components/moduleChooseTutorial/ModuleChooseTutorial.scss";
@import "../src/components/footer/Footer.scss";
@import "../src/components/menuTop/MenuTop.scss";
@import "../src/components/tutorialExplication/TutorialExplication.scss";
@import "../src/components/myReward/MyReward.scss";
@import "../src/components/sortMyReward/SortMyReward.scss";
@import "../src/components/tutorialComponent/NameTutorial.scss";
@import "../src/components/tutorialComponent/ObjectifTutorial.scss";
@import "../src/components/tutorialComponent/VideoTutorial.scss";
@import "../src/components/tutorialComponent/QuizzTutorial.scss";
@import "../src/components/selectTutorial/SelectTutorial.scss";
@import "../src/components/modal/ConfirmBack.scss";
@import "../src/components/modal/ConfirmChoiseDelete.scss";
@import "../src/components/search/SearchTutorial.scss";
@import "../src/components/listTutorial/ListTutorial.scss";
@import "../src/components/tutorialComponent/components/SaveButton.scss";
@import "../src/components/dropFile/DragAndDrop.scss";
@import "../src/components/containerObjectifVideoQuizzInTutorials/ContainerBravoTutorial.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: $app-primary-font;
}

a {
  color: #000000;
}

p,
input,
label,
textarea,
select,
button,
ul,
li,
a {
  font-family: $app-secondary-font;
  text-decoration: none;
}

li {
  list-style: none;
}

// .titleNameMenu { à modifier je laisse commenté pour l'instant
//   color: yellow;
// }
