@import "../src/assets/styles/variables.scss";
@import "../src/assets/mixins/mixins.scss";
@import "../src/components/navbar/NavBar.scss";

/* -----------------------------import Pages -------------------------------- */

@import "../src/pages/formation/Formation.scss";
@import "../src/pages/tutorialChoice/TutorialChoice.scss";
@import "../src/pages/home/Home.scss";
@import "../src/pages/levelUser/LevelUser.scss";
@import "../src/pages/register/Register.scss";

/* -----------------------------import components -------------------------------- */
@import "../src/components/moduleChooseFormation/ModuleChooseFormation.scss";
@import "../src/components/moduleChooseTutorial/ModuleChooseTutorial.scss";
@import "../src/components/footer/Footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
