.tutorialChoice {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 0;
  height: calc(100vh - 19px);
  overflow-y: auto;
  @include tablet {
    row-gap: 30px;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    .pictureManDesk {
      height: 300px;
    }
    .moduleChooseTutorialDesktop {
      max-width: 1024px;
      display: grid;
      grid-template-columns: 1fr 300px 20px 300px 1fr;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      justify-items: center;
    }
  }
}
