.tutorialChoice {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 0;
  height: calc(84vh - 19px);
  overflow-y: auto;
  @include tablet {
    row-gap: 30px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    min-height: calc(100vh - 125px);
    .articleDesktopModuleTutorial {
      margin: 0 auto;
      width: 90%;
      display: inline-flex;
      .pictureManDesk {
        width: $app-card-width-3;
        height: $app-card-height-3;
        align-self: center;
        margin-left: 1%;
      }
      .moduleChooseTutorialDesktop {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.tutorialChoice div .noFormationH4 {
  width: 85%;
  margin: 30px auto;
  text-align: center;
  line-height: 30px;
}
