.container-gestion {
  width: 100vw;
  height: calc(100vh - 45px);
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-gestion-user {
    padding: 4%;
    display: flex;
    width: 100%;
    height: 5rem;
    border-radius: 0.3rem;
    background-color: $app-secondary-fonts-color-2;
    display: flex;
    width: 95%;
    margin: 4%;

    .container-infos-user {
      width: 80%;
      display: flex;
      flex-direction: column;
      li {
        padding: 4%;
      }
    }
  }

  .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    button {
      margin: 4%;
      width: 100%;
      height: 2rem;
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      border-radius: 0.3rem;
    }

    a {
      button {
        background-color: $app-button-secondary-color;
        color: $app-primary-fonts-color;
      }
    }
  }
}
