.container-gestion {
  width: 100vw;
  min-height: calc(100vh - 50px);
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-top: 10%;
  }

  @include desktop {
    display: grid;
    grid-template-columns: auto auto;
    align-content: baseline;
    row-gap: 2rem;
  }

  .container-gestion-user {
    padding: 4%;
    display: flex;
    align-items: center;
    width: 90%;
    height: 5.5rem;
    border-radius: 0.3rem;
    background-color: $app-secondary-fonts-color-2;
    margin: 4%;

    @include tablet {
      height: 7.4rem;
      margin: 2%;
    }

    @include desktop {
      width: 80%;
      padding: 2%;
      height: 8rem;
      margin: auto;
    }

    .container-infos-user {
      width: 80%;
      display: flex;
      flex-direction: column;

      @include tablet {
        font-size: 1.3rem;
      }

      li {
        padding: 4%;

        @include tablet {
          padding: 2%;
        }
      }
    }
  }

  .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    button {
      margin: 2%;
      width: 100%;
      height: 2.2rem;
      border: none;
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      border-radius: 0.3rem;

      @include tablet {
        font-size: 1.1rem;
        width: 90%;
        height: 2.8rem;
      }

      @include desktop {
        width: 100%;
        height: 3rem;
      }
    }

    a {
      button {
        background-color: $app-button-primary-color;
        color: $app-secondary-fonts-color-5;

        @include tablet {
          font-size: 1.1rem;
        }
      }
    }
  }
}
