.container-userInfo {
  width: 100vw;
  min-height: calc(100vh - 50px);
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-top: 14%;
  }

  @include desktop {
    padding-top: 10%;
  }

  .container-userInfo-picture {
    background-color: $app-supporting-color;
    margin: 4%;
    width: 140px;
    height: 140px;
    border-radius: 50%;

    @include tablet {
      width: 180px;
      height: 180px;
    }

    @include desktop {
      margin: 1%;
      width: 220px;
      height: 220px;
    }
  }

  img {
    margin: 4% 0 1% 0;
    width: 140px;
    height: 140px;
    border-radius: 50%;

    @include tablet {
      width: 180px;
      height: 180px;
      margin: 5%;
    }

    @include desktop {
      width: 220px;
      height: 220px;
      margin: 2%;
    }
  }

  .container-userInfo-infos {
    width: 90%;
    color: $app-primary-fonts-color;
    font-size: 1.2rem;
    margin-top: 10%;

    @include tablet {
      margin: 4% 0 4% 0;
      width: 50%;
    }

    @include desktop {
      width: 60%;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
    }

    h3 {
      margin: 6%;

      @include tablet {
        margin: 8%;
        font-size: 1.6rem;
      }

      @include desktop {
        margin: 0;
        padding: 4% 4% 4% 16%;
        font-size: 1.4rem;
        width: 100%;
      }
    }
  }
}
