.container-Video-preview {
  width: 100%;
  min-height: 12rem;
  margin: 4%;
  border-radius: 0.3rem;
  flex-wrap: nowrap;
  background-color: $app-secondary-fonts-color-2;
}
  
  .container-video-preview-logo{
    height: 2rem;
  }