/* Website Font Size */

@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

$app-primary-font: "Montserrat", sans-serif;
$app-secondary-font: "Roboto", sans-serif;

/* Website Font Size */

$app-heading-one: 2.5rem;
$app-heading-two: 2rem;
$app-heading-three: 1.5rem;
$app-text-size: 1.125rem;
$app-text-size-xl: 1.8rem;
$app-text-size-xs: 1rem;

$app-heading-one-tablet: 2.5rem;
$app-heading-two-tablet: 2rem;
$app-heading-three-tablet: 1.5rem;
$app-heading-four-tablet: 1.2rem;

$app-heading-one-desktop: 3rem;
$app-heading-two-desktop: 2rem;
$app-heading-three-desktop: 1rem;

$app-heading-one-desktop-large: 6rem;
$app-heading-two-desktop-large: 5rem;
$app-heading-three-desktop-large: 4rem;

$app-font-size-label: calc(14px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-h1: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-h2: calc(32px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-h3: calc(12px + (40 - 20) * ((80vw - 300px) / (1600 - 300)));
$app-font-size-li: calc(25px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-p: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-icon: calc(50px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-cap: calc(30px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-xs: calc(13px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-xs-ul: calc(13px + (80 - 60) * ((100vw - 300px) / (1600 - 300)));
$app-font-size-xs-to-xxl: calc(13px + ((100vw - 300px) / 100));
$app-font-size-xs-to-xxl-more-longs: calc(13px + ((100vw - 300px) / 200));
$app-font-size-xs-to-xxl-last-long: calc(13px + ((100vw - 300px) / 300));

// calc(13px + 40 * (100vw - 300px) / 1300);
/* Website Color */

$app-corporate-color: #003da5;
$app-corporate-color-2: #ffcb03;
$app-supporting-color: #d9d9d9;
$app-supporting-color-2: #858383;

/* Website Fonts Color */

$app-primary-fonts-color: #003da5;
$app-secondary-fonts-color: #858383;
$app-secondary-fonts-color-2: #f5f5f5;
$app-secondary-fonts-color-3: #c6c3c3;
$app-secondary-fonts-color-4: #ffcb03;
$app-secondary-fonts-color-5: #ffffff;
$app-secondary-fonts-color-50: #ffffff;
$app-secondary-fonts-color-60: #000;

/* Website Background */

$app-bg: #ffffff;

/* Website Button Color */

$app-button-primary-color: #003da5;
$app-button-secondary-color: #ffcb03;

/* Website Input Color */

$app-input-primary-color: #c6c3c3;

/* Website Nav Color */

$app-navbar-color: #003da5;

/* Website MenuTop Color */

$app-menuTop-color: #003da5;

/* Website Icons Color */

$app-icon-color: #003da5;

/* Website Bg-Icons Color */

$app-bg-icon-color: #ffcb03;

/* button border-radius */

$app-button-border-radius: 5px;

/* button border-color */

$app-button-color: transparent;

/* button padding */

$app-button-padding: 10px 20px;
$app-button-padding-phone-large: 20px 30px;

/* Website lin Color */

$app-line-color: #ffcb03;

/* width height card */

$app-card-width: calc(100px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
$app-card-height: calc(
  (35vh / 2) + (80 - 32) * ((100vw - 250px) / (1600 - 300))
);
$app-card-width-2: calc(220px + (40 - 32) * ((75vw - 300px) / (1600 - 300)));
$app-card-height-2: calc(
  (50vh / 2) + (80 - 32) * ((75vw - 250px) / (1600 - 300))
);
$app-card-width-3: calc(520px + (40 - 32) * ((75vw - 300px) / (1600 - 300)));
$app-card-height-3: calc(
  (100vh / 2) + (80 - 32) * ((75vw - 250px) / (1600 - 300))
);

/* width icon */

$app-width-icon: calc(50% + (40 - 32) * ((100vw - 300px) / (1600 - 300)));

/*  left ul */

$app-left-ul-list: calc(13px + 40 * (100vw - 300px) / 1300);

/* Width icons formations */

$app-width-icon-formation-mobil: 70px;
$app-width-icon-formation-tablet: 90px;

/* Margin space icon */

$margin-space-icon: calc(25px + 8 * (75vw - 300px) / 1300);
$margin-space-icon-large: calc(45px + 8 * (75vw - 300px) / 1300);
$margin-space-icon-tablet: calc(55px + 8 * (75vw - 300px) / 1300);

$heightLimit: 168px;
$space: 60px;
