.parcours {
  height: initial;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 245px 10px 60px 20px 90px 1fr;

  @include tablet {
    grid-template-rows: 60px 245px 30px 60px 20px 135px 1fr;
  }

  @include desktop {
    grid-template-rows: 105px 80px 30px 60px 20px 95px 1fr;
  }

  .titleIconSort,
  .titleSortReward {
    font-size: $app-font-size-p;
    color: $app-primary-fonts-color;

    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 25px;
      padding-left: 30px !important;
    }
  }

  .titleIconSort {
    grid-column: 1/-1;
    grid-row: 1;
    padding: 0 0 10px 10px;
    align-self: center;
  }

  .containerRewardIcons {
    grid-column: 1/-1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;

    @include desktop {
      grid-template-columns: repeat(12, auto);
      justify-content: space-evenly;
    }
  }

  .sortTitleIcon {
    grid-column: 1/-1;
    grid-row: 4;
    text-align: center;
    color: $app-primary-fonts-color;
  }

  .containerButtonSortReward {
    grid-column: 1/-1;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;

    @include phonelarge {
    }

    @include tablet {
      justify-content: center;
      column-gap: 20px;
    }

    @include desktop {
      grid-template-columns: repeat(4, auto);
      column-gap: 40px;
    }

    .buttonSortReward {
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      width: 140px;
      padding: $app-button-padding;
      border-radius: $app-button-border-radius;
      border: $app-button-color;
      font-weight: initial;

      @include tablet {
        height: 60px;
        width: 180px;
      }

      @include desktop {
        font-size: 20px;
      }
    }
  }
}

.allRewardSort {
  grid-column: 1/-1;
  grid-row: 7;

  @include tablet {
    min-height: 270px;
  }

  @include desktop {
    min-height: 380px;
  }

  .titleSortReward {
    border-bottom: 2px solid $app-bg-icon-color;
    padding: 0 0 10px 10px;
  }

  .iconSortReward {
    display: flex;
    flex-wrap: wrap;
    width: min(100% - 5px);
    margin-inline: auto;
    justify-content: space-around;

    @include phonelarge {
      width: min(85% - 5px);
    }

    @include desktop {
      width: 95vw;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-moz-scrollbar {
  width: 0.5em;
}

::-moz-scrollbar-track {
  background-color: transparent;
}

::-moz-scrollbar-thumb {
  background-color: transparent;
}
