.parcours {
  height: initial;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px 60px 10px 60px 20px 90px 40px 60px 1fr;
  padding-top: 15px;

  @include phonelarge {
    row-gap: 10px;
  }

  @include tablet {
    row-gap: 15px;
    grid-template-rows: 40px 60px 120px 60px 20px 90px 40px 130px 1fr;
  }

  @include desktop {
    margin-top: 40px;
    grid-template-rows: 30px 10px 9px 68px 20px 90px 40px 60px 1fr;
  }

  .titleIconSort {
    grid-column: 1/5;
    grid-row: 1;
    padding-left: 10px;
    font-size: 1.3rem;

    // &::first-letter {
    //   font-size: 50px;
    //   color: blue;
    // }

    @include tablet {
      padding-left: 50px;
      font-size: $app-heading-two-tablet;
    }
  }

  .containerRewardIcons {
    grid-column: 2/7;
    grid-row: 2/4;
    justify-self: center;
    margin: 0 0 0 -1.5rem;

    @include phoneXSlarge {
      margin: 0 0 0 -0.7rem;
    }

    @include tablet {
      grid-column: 2/7;
      grid-row: 2/4;
      align-self: baseline;
      margin-top: 15px;
    }
    @include desktop {
      grid-column: 1/7;
    }
  }

  .switchIcon {
    align-self: end;

    @include tablet {
      font-size: $app-text-size-xl;
    }
  }

  .sortTitleIcon {
    grid-column: 1/-1;
    grid-row: 4;
    justify-self: center;
    font-size: 1rem;
    margin-top: 8.5rem;
    @include tablet {
      font-size: $app-heading-three-tablet;
    }
  }

  .containerButtonSortReward {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 7/9;
    justify-content: center;
    align-self: flex-start;
    gap: 10px;

    @include phonelarge {
      width: 75%;
      justify-self: center;
      align-self: self-start;
    }

    @include tablet {
      grid-column: 1/7;
      gap: 30px;
    }

    .buttonSortReward {
      background-color: $app-button-primary-color;
      color: $app-secondary-fonts-color-5;
      width: 140px;
      padding: $app-button-padding;
      border-radius: $app-button-border-radius;
      border: $app-button-color;
      font-weight: initial;
      @include phonelarge {
        padding: $app-button-padding-phone-large;
        font-size: large;
        flex: 2;
      }
      @include tablet {
        padding: 20px 100px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        font-size: large;
        flex: 2;
        font-size: $app-heading-three-tablet;
      }
    }
  }
}

.allRewardSort {
  grid-column: 1/-1;
  grid-row: 9;

  .titleSortReward {
    border-bottom: 2px solid $app-bg-icon-color;
    padding: 0 0 10px 10px;
    font-size: 1.3rem;
    // &::first-letter {
    //   font-size: 50px;
    //   color: blue;
    // }
    @include tablet {
      padding-left: 50px;
      font-size: $app-heading-two-tablet;
    }
  }
  .iconSortReward {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 1rem 7rem;
      width: 80%;
      margin: 0 auto;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-moz-scrollbar {
  width: 0.5em;
}

::-moz-scrollbar-track {
  background-color: transparent;
}

::-moz-scrollbar-thumb {
  background-color: transparent;
}